In [1]:
db_name = "nazar-sqlite.db"

In [9]:
import sqlite3
con = sqlite3.connect(db_name)

cur = con.cursor()

#cur.execute("""CREATE TABLE movies (title, year, rating)""")


try:
    cur.execute("""INSERT INTO movies VALUES ('Spider-Man', 2002, 7.4)""")
    cur.execute("""INSERT INTO movies VALUES ('Shrek 2', 2004, 7.3)""")
    cur.execute("""INSERT INTO movies VALUES ('escape from shawshank', 1994, 9.3)""")

    con.commit()
finally:
    print("-----------------------")


try:
    movie = cur.execute('SELECT * FROM movies')
    for row in movie:
        print(row)
finally:
    print("-----------------------")




try:
    movies = cur.execute('SELECT * FROM movies ORDER BY year')
    for year in movie:
        print(year)
finally:
    con.close()

-----------------------
('Spider-Man', 2002, 7.4)
('Shrek 2', 2004, 7.3)
('escape from shawshank', 1994, 9.3)
('Spider-Man', 2002, 7.4)
('Shrek 2', 2004, 7.3)
('escape from shawshank', 1994, 9.3)
('Spider-Man', 2002, 7.4)
('Shrek 2', 2004, 7.3)
('escape from shawshank', 1994, 9.3)
('Spider-Man', 2002, 7.4)
('Shrek 2', 2004, 7.3)
('escape from shawshank', 1994, 9.3)
-----------------------
('escape from shawshank', 1994, 9.3)
('escape from shawshank', 1994, 9.3)
('escape from shawshank', 1994, 9.3)
('escape from shawshank', 1994, 9.3)
('Spider-Man', 2002, 7.4)
('Spider-Man', 2002, 7.4)
('Spider-Man', 2002, 7.4)
('Spider-Man', 2002, 7.4)
('Shrek 2', 2004, 7.3)
('Shrek 2', 2004, 7.3)
('Shrek 2', 2004, 7.3)
('Shrek 2', 2004, 7.3)